body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
}
.content {
	width: 100%;
	display: flex;
	padding: 20px 0;
	align-items: center;
	flex-direction: column;
}
.container .card {
	position: relative;
	height: 450px;
}

.content .card .user {
	width: 380px;
	height: 450px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}

.content .card .user .profile {
	position: absolute;
    text-align: center;
	bottom: 120px;
	right: 20px;
    align-items: center;
}

.content .card .user .name {
	color: rgb(255, 255, 255);
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 5px rgb(78, 77, 77);
}

.content .card .user .name span {
	font-size: 26px;
}

.content .card .local {
	display: flex;
	align-items: center;
	padding: 0 0 20px 0;
}

.content .card .local i {
	margin: 5px 0;
	color: #fff;
}

.content .card .local span {
	color: #fff;
	padding: 0 10px;
	text-shadow: 1px 1px 5px #444;
}

.content .buttons {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.content .buttons .no i {
	color: #fd2e79;
	font-size: 33px;
}

.content .buttons .star i {
	color: #2bb1ff;
	font-size: 22px;
}

.content .buttons .heart i {
	color: #11e298;
	font-size: 32px;
}

.content .buttons .no,
.content .buttons .star,
.content .buttons .heart {
	background-color: #fff;
	width: 70px;
	height: 70px;
	box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 70px;
	margin: 4px;
	transition: 0.2s transform;
}

.content .buttons .no:hover,
.content .buttons .star:hover,
.content .buttons .heart:hover {
	transform: scale(1.1);
    background-color: rgb(173, 143, 173);
}

.content .buttons .star {
	width: 60px;
	height: 60px;
}